{% extends "gjcars/base.html" %}
    
{% block content %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.car_name }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" href="#">{{ object.price }}</a></h2>
      <img width="50" height="60" src="{{ object.cover.url}}" alt="{{ object.car_name }}">
      <video width="300" controls>
        <source src="{{ object.img1.url}}" type="video/mp4">
      </video>
      <img width="50" height="60" src="{{ object.img2.url}}" alt="{{ object.car_name }}">
      
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}