<div style="font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;color:#595968">
    <table cellspacing="0" cellpadding="0" align="center" style="width:100%">
        <tbody>
            <tr>
                <td>
                    <table align="center" cellspacing="0" cellpadding="0" style="border-spacing:0;width:100%">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" style="padding:2% 3%;border-collapse:collapse;border-spacing:0;background-color:#f8f8f8;background-repeat:no-repeat">
                                    <table cellspacing="0" cellpadding="0" align="center" style="width:100%;border-spacing:0;background-size:100% 100%;margin:0 0 20px 0;background:#ffffff">
                                        <tbody>
                                            <tr>
                                                <td style="border-collapse:collapse;padding:0;border-spacing:0;border:0">
                                                    <table cellspacing="0" cellpadding="0" style="width:100%;border:0;margin:0 auto">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table align="center" style="width:100%!important;border-spacing:0">
                                                                        <tbody>
                                                                            <tr>

                                                                                <td valign="top" style="background-color: white;background-size:945px 105px;border-collapse:collapse;height:105px;padding:0;width:100%;font-family:'Maven Pro',sans-serif;font-size:18px;font-weight:400">
                                                                                    <span style="color:#ffffff;display:inline-block;padding:3%">
                                                                                                                                                    <img
                                                                                style="max-width:262px;max-height:137px"
                                                                                src="https://kilobiryani.herokuapp.com/static/kiloapp/images/logo.jpeg"
                                                                                alt="logo.png" class="CToWUd a6T"
                                                                                tabindex="0">
                                                                        																	</span>
                                                                                    <span style="float:right;color:#000000;padding:5%">
																		<b> {{cart.timestamp}} </b>
																	</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table align="center" style="width:100%!important;padding:0 2%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td bgcolor="#ffffff" valign="top" style="border-collapse:collapse;padding-top:5px;font-family:'Maven Pro',sans-serif;font-size:18px;font-weight:400">
                                                                                    <table width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="50%">
                                                                                                    <div style="min-height:50px">Total Amount
                                                                                                    </div>
                                                                                                    <div style="font-size:25px">
                                                                                                        <b>Rs {{cart.total}}.00</b>
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td width="50%">
                                                                                                    <div style="color:#595968;width:100%;text-align:right;min-height:50px">
                                                                                                        Thanks for ordering with Kilo Biriyani {{cart.author}}
                                                                                                    </div>
                                                                                                    <div style="color:#D29B3B;text-align:right;font-size:25px">
                                                                                                        Order ID: {{cart.id}}
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#ffffff" valign="top" style="border-collapse:collapse;padding-top:5px;font-family:'Maven Pro',sans-serif;font-size:18px;font-weight:400">

                                                                                    <div style="clear:both"></div>
                                                                                    <div>
                                                                                        <span style="float:right;color:#D29B3B">Home delivery</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td bgcolor="#ffffff" align="center" valign="top" style="border-collapse:collapse;padding-top:5px;font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px">
                                                                                    <p style="font-family:'Maven Pro',sans-serif;font-size:18px;font-weight:400">
                                                                                        Restaurant Address: </p>
                                                                                    <span style="color:#898989;font-size:26px">Kilo Biriyani
																	</span>
                                                                                </td>
                                                                            </tr>


                                                                            <tr>
                                                                                <td bgcolor="#ffffff" align="center" valign="top" style="border-collapse:collapse;padding-top:5px;font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:18px;padding-bottom:20px">
                                                                                    <span style="color:#898989">
																		<span> {{request.user.first_name}} {{request.user.last_name}} </span>
                                                                                    </span>
                                                                                </td>
                                                                            </tr>


                                                                            <tr>
                                                                                <td bgcolor="#ffffff" align="center" valign="top" style="border-collapse:collapse;padding-top:5px;font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px">
                                                                                    <span style="color:#898989;font-size:16px">Deliver To</span>
                                                                                </td>
                                                                            </tr>


                                                                            <tr>
                                                                                <td bgcolor="#ffffff" align="center" valign="top" style="border-collapse:collapse;padding-top:5px;font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:18px">
                                                                                    <span style="color:#898989">{{cart.address}}</span>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td bgcolor="#ffffff" align="center" valign="top" style="border-collapse:collapse;padding-top:5px;font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:18px;padding-bottom:17px">
                                                                                    <span style="color:#898989">Order Date: {{cart.timestamp}}
																	</span>
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                    <table align="center" style="width:85%;margin:0 auto;padding:30px;background:#f0f2f5;margin-bottom:15px">
                                                                        <tbody>
                                                                            <tr style="font-family:inherit;font-size:18px">
                                                                                <td align="center" style="color:#D29B3B">Order SUMMARY
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table style="width:100%">

                                                                                        <tbody>
                                                                                            {% for item in cart.cartitem_set.all %}
                                                                                            <tr>
                                                                                                <td bgcolor="#ffffff" valign="top" style="border-collapse:collapse;padding-top:15px;font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:18px;background:#f0f2f5;color:#898989">
                                                                                                    <span>
                                                                                                        {{item.product}}&nbsp; X {{item.quantity}}
                                                                                                    </span>
                                                                                                    <span style="float:right">Rs {% widthratio item.quantity 1 item.product.price %}.00
                                                                                                    </span><br>
                                                                                                </td>
                                                                                            </tr>
                                                                                            {% endfor %}

                                                                                            <tr>
                                                                                                <td style="padding-left:20px"></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                            </tr>
                                                                            <tr style="margin-top:40px">
                                                                                <td>
                                                                                    <div style="margin-top:20px;padding:13px 20px 13px 20px;font-size:18px;background:#ffffff;border-radius:20px">
                                                                                        <span style="display:inline-block;width:50%">
                                                                                            Payment Mode Cash on delivery
                                                                                        </span>
                                                                                        <div style="float:right">
                                                                                            <span style="float:right;font-size:18px">
                                                                                                Rs {{cart.total}}.00
																			                </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <br style="clear:both">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>