{% extends "kiloapp/base.html" %} {% block content %} {% load static%}
<div style="height: 150px;"></div>

<h1 class="m-sm-5 m-1 content-section" style="font-weight: 500;">In a world where "authentic biryani" is used more as a phrase rather than served as a dish, we at Kilo Biryani have made it our goal to serve truly authentic, Hyderabadi Biryani to those who know the taste that goes with that promise. Using the finest
    ingredients, our chefs cook a vast array of Thalapakatti, Kottu, Kuruma and Curries, which are specially chosen to complement our world class Biryani selection. All of this is also available together in the form of Combos and Super Saver packs aimed
    at making the experience of dining with family and friends all the more enjoyable. Amazing Biryani, the best accompanying dishes and good times with family and friends, in short: A Biryani lover's paradise.</h1>

{% endblock %}