{% extends "resta/base.html" %}
 
{% block content %}
	{% load static%}

	<div class="col-13">
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
				<div class="row">
					<div class="col-lg-4 col-md-6 ">
						<div class="gallery-single fix">
							<img src="{% static 'resta/images/img1.jpeg'%}" class="img-fluid" alt="Image">
							<div class="why-text">
								<h4>Hyderabadi Biryani</h4>
								<p></p>
								<h5>1,250</h5>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 ">
						<div class="gallery-single fix">
							<img src="{% static 'resta/images/img2.jpeg'%}" class="img-fluid" alt="Image">
							<div class="why-text">
								<h4>Lucknowi Biryani</h4>
								<p></p>
								<h5>Rs 700</h5>
							</div>
							<h5>Rs 700</h5>

						</div>
					</div>

					<div class="col-lg-4 col-md-6 ">
						<div class="gallery-single fix">
							<img src="{% static 'resta/images/img3.jpeg'%}" class="img-fluid" alt="Image">
							<div class="why-text">
								<h4>Kolkata Biryani</h4>
								<p></p>
								<h5>Rs </h5>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 ">
						<div class="gallery-single fix">
							<img src="{% static 'resta/images/img4.jpeg'%}" class="img-fluid" alt="Image">
							<div class="why-text">
								<h4>Celebration Menu</h4>
								<p></p>
								<h5>Rs </h5>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 ">
						<div class="gallery-single fix">
							<img src="{% static 'resta/images/img5.jpeg'%}" class="img-fluid" alt="Image">
							<div class="why-text">
								<h4>Curries</h4>
								<p></p>
								<h5>Rs </h5>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="card" style="margin: 1em;">
							<img class="card-img-left" src="{% static 'resta/images/2Hyderabad style chicken 1 potion.jpeg'%}" class="img-fluid" alt="Image">
						  <div class="card-body">
						  <h4>Hyderabad style chicken 1 potion</h4>
						  <p>Hyderabad style chicken 1 person biriyani Basmathi Rice Raitha salled Gravy</p>
						  <h5>Rs 700</h5>
						  {% comment %} <a href="#" class="btn btn-primary">Add To Cart</a> {% endcomment %}
						  </div>
						  </div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="card" style="margin: 1em;">
							<img class="card-img-left" src="{% static 'resta/images/2Hyderabad style chicken 1 potion.jpeg'%}" class="img-fluid" alt="Image">
						  <div class="card-body">
						  <h4>Hyderabad style chicken 1 potion</h4>
						  <p>Hyderabad style chicken 1 person biriyani Basmathi Rice Raitha salled Gravy</p>
						  <h5>Rs 700</h5>
						  {% comment %} <a href="#" class="btn btn-primary">Add To Cart</a> {% endcomment %}
						  </div>
						  </div>
					</div>

					<div class="col-lg-4 col-md-6 ">
						<div class="card" style="margin: 1em;">
							<img class="card-img-left" src="{% static 'resta/images/2Hyderabad style chicken 1 potion.jpeg'%}" class="img-fluid" alt="Image">
						  <div class="card-body">
						  <h4>Hyderabad style chicken 1 potion</h4>
						  <p>Hyderabad style chicken 1 person biriyani Basmathi Rice Raitha salled Gravy</p>
						  <h5>Rs 700</h5>
						  {% comment %} <a href="#" class="btn btn-primary">Add To Cart</a> {% endcomment %}
						  </div>
						  </div>
					</div>

					<div class="col-lg-4 col-md-6 ">
						<div class="card" style="margin: 1em;">
							<img class="card-img-left" src="{% static 'resta/images/2Hyderabad style chicken 1 potion.jpeg'%}" class="img-fluid" alt="Image">
						  <div class="card-body">
						  <h4>Hyderabad style chicken 1 potion</h4>
						  <p>Hyderabad style chicken 1 person biriyani Basmathi Rice Raitha salled Gravy</p>
						  <h5>Rs 700</h5>
						  {% comment %} <a href="#" class="btn btn-primary">Add To Cart</a> {% endcomment %}
						  </div>
						  </div>
					</div>
				</div>

			</div>
		
		</div>
	</div>
</div>
{% endblock %}